.margin-x-2{
	margin: 0px 2px;
}
.mb-3 {
	margin-bottom: 1rem;
}

.mb-5 {
	margin-bottom: 3rem;
}

.mt-8 {
	margin-top: 5rem;
}

.mt-5 {
	margin-top: 3rem;
}

.mt-3 {
	margin-top: 2rem;
}

.pt-3 {
	padding-top: 2rem;
}

.pb-3 {
	padding-bottom: 2rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.l-form-control{
	width: 100%; 
	display: inline-block !important;
	margin-bottom: 15px;
}

.d-block{
	display: block;
}

.category-search, .product-search {
 	display: block;
    border: 2px solid #ccc;
    border-radius: 100px;
    padding: 10px 15px;
    text-align: center;
    margin-top: 1rem;
    height: 50px;
    clear: both;
}

.category-search input, .product-search input {
    border: 0;
    background-color: transparent;
    float: left;
    width: 93%;
    font-size: 15px;
 }
.category-search input::focus, .product-search input::focus {
	outline: none;
}

.category-search button, .category-search i , .product-search button, .product-search i {
	border: none;
    background: none;
    cursor: pointer;
}

.category-search button, .product-search button {
	float: right;
    margin-top: 3px;
}

.category-search select, .product-search select {
	border: none;
}

.signs {
	padding-top: 3rem;
	margin-bottom: 3rem;
}

.sign-container{
	display: inline-block !important;
    vertical-align: top;
    float: none !important;
}

.font-weight-700 {
	font-weight: 700;
}

.clear{
	clear: both;
}

.padding-left-40{
	padding-left: 40px;
}

.image-container {
	position: relative;
  	text-align: center;
  	color: white;
  	font-weight: bold;
}
.centered, #line1, #line3-2 {
  	position: absolute;
  	top: 35%;
  	left: 5%;
}

#line2-1 {
	position: absolute;
  	top: 20%;
  	left: 5%;
}

#line2-2 {
	position: absolute;
  	top: 50%;
  	left: 5%;
}

#line3-1 {
	position: absolute;
  	top: 10%;
  	left: 5%;
}

#line3-2 {
	position: absolute;
  	top: 35%;
  	left: 5%;
}

#line3-3 {
	position: absolute;
  	top: 60%;
  	left: 5%;
}

#addCustomSign .modal-body {
	overflow: auto;
	max-height: 420px!important;
}
@media only screen and (min-width:768px) {
	.row-quantities{
		padding-left: 5rem;
	}
}